.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  height: 350px;
  font: 16px/14px 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: 'Itim', cursive;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-purple);
  margin: auto 0;
}

.btn{
  margin-top: 20px;
  background: linear-gradient(to right,#682d8e, #ee2f80);
  padding: 20px 30px;
  border-radius: 50px;
  color: var(--color-white);
  font-size: 25px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  border: none;

}
